.bg-gris{
  background-color: #38414A;
}

.sidebar{
  width: 4.5%;
  background-color: #FFFFFF;
}
.sidebarGrande{
  width: 15%;
  background-color: #FFFFFF;
}

.cursor-pointer:hover{
  cursor: pointer;
}

.contenedor_sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
}

.botones-azules{
  background-color: #4A80D3;
  border: none;
  color: #FFFFFF;
  width: 40px;
  height: 30px;
  border-radius: 4px;
}
.botones-azules:hover{
  background-color: #3b72c5;
}

.seccion-principal {
  flex: 1;
}


@media (min-width: 768px) {
  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: var(--blanco);
      flex: 0 0 300px;
  }
 

}