.bg-gris{
  background-color: #38414A;
}

.sidebar{
  width: 4.5%;
  background-color: #FFFFFF;
}
.sidebarGrande{
  width: 15%;
  background-color: #FFFFFF;
}

.cursor-pointer:hover{
  cursor: pointer;
}


@media (min-width: 768px) {
  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: var(--blanco);
      flex: 0 0 300px;
  }
  .seccion-principal {
      flex: 1;
  }

}